@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .logoContainer {
    @apply flex space-x-3 items-center text-black cursor-pointer 
    ml-5 hoverEffect w-12 sm:w-auto;
  }
  .siteText {
    @apply text-xl text-black hidden lg:inline-flex;
  }
  .logo {
    @apply group-hover:scale-110 transition-transform duration-200 
    ease-out h-10 w-7;
  }
  .icons {
    @apply text-xl text-gray-600 cursor-pointer hover:scale-110
    transition-all duration-150 ease-out;
  }
  .hoverEffect {
    @apply hover:bg-gray-200 rounded-full p-2 cursor-pointer;
  }
}
